@media screen,projection,tv {
/* tabs */
.tabsystem .tabcontainer				{margin:0; padding:0; border:0; clear:both; z-index:1;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-active	{position:relative; display:inline; float:left; z-index:1; white-space:nowrap;}
.tabsystem .tabpage						{z-index:1; clear:both;}
h4										{margin:0; padding:0; z-index:1;}

/* tabs design */
.tabsystem .tabcontainer a				{color:#666 !important;}
.tabsystem .tabcontainer a:hover		{color:#666 !important; background:transparent !important;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-hover,
.tabsystem .tabcontainer .tab-active	{cursor:pointer; top:3px; font:10px verdana,arial,sans-serif; margin:0 3px; padding:4px 5px 1px 5px; background:transparent url( images/jstabs/tab_shade.png ) repeat-x; border:1px solid #bbb; border-bottom:0; text-decoration:none;}
.tabsystem .tabcontainer .tab-hover		{padding:3px 5px 1px 5px; border-top:2px solid #f60;}
.tabsystem .tabcontainer .tab-active	{top:1px; margin:0; padding:2px 8px 4px 8px; background:#fff; border-top:2px solid #f60;}
.tabsystem .tabpage						{border:1px solid #bbb; margin:0 0 1em 0; padding:0 1em;}
}
