@media print {
body		{background:#fff;}
/* hide large layout bits */
#bitlogo	{display:none;}
#bittop		{display:none;}
#bitleft	{display:none;}
#bitright	{display:none;}
#bittopbar	{display:none;}
#toplogin	{display:none;}
#bitmain	{padding:0 1em;}
#bitbottom	{clear:both; font-size:0.8em; text-align:center;}

/* hide other stuff */
.pageactions,.navbar	{display:none;}
.tabcontainer			{display:none;}
.bittoc					{display:none;}
.floaticon				{display:none;}
.minifind				{display:none;}
}
