@import url( ../cascader.css );
body           {background-color:#999; color:#000;}
:link,
:visited       {color:#678;}
:link:hover,
:visited:hover {background-color:#eee;}
#container     {background-color:#ddd; border:5px solid #eee; padding:0;}
#content       {background-color:#eee;}
#footer        {border-top:5px solid #eee;}
.module        {padding:1em; margin:0; border-top:5px solid #eee;}
.odd           {background-color:#ddd;}
.even          {background-color:#e5e5e5;}

/* dropdown menu */
div#bittopbar,
ul.hor li       {background-color:#ddd;}
ul.hor li:hover {background:#eee;}
ul.hor li ul    {border-color:#fff;}

/* nicify js tabs */
.tabsystem .tabcontainer .tab        {background:#ddd;}
.tabsystem .tabcontainer .tab-hover  {background:#eee;}
.tabsystem .tabcontainer .tab-active {background:#eee;}
