@import url( ../../css/import.css );

ul.data,
ul.data li.item			{list-style:none; margin:0; padding:0;}
ul.data li.item .thumb	{float:right;}
ul.data h1,
/* this is needed to make floaticons clickable in data listings */
ul.data h2				{margin-top:0;}

/* this theme is based on the classic www.tikiwiki.org theme 'moreneat' */
/*** global settings ***/
/* these settings should be at the top of the css since they are the defaults and can be overridden further down */
body				{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:10px; background-color:#e9ecef;}
th					{background:#c7d0d9; font-weight:normal;}
th a				{text-decoration:none;}
hr					{}

/* set the default font-size on the entire page | annoyingly this has to be one in this way for MSIE */
input,select		{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:10px;}
textarea			{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:10px;}
small				{}


/* general page title settings on every page */
h1					{font-size:20px;}
h2					{font-size:18px;}
h3					{font-size:16px;}
h1, h2, h3			{font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;}

/* links */
a					{color:#436976;}
a:hover				{color:#000; background-color:#e9ecef;}

/* images */
img					{}
a img:hover			{}



/*** site layout ***/
#bittopbar			{background:#c7d0d9; border-top:1px solid #8cacbb; border-bottom:1px solid #8cacbb; height:2em;}
#bittopbar a		{text-decoration:none;}
#bitprint			{}



/*** common classes ***/
.display			{}
.preview			{}
.header				{}
.header h1			{margin:0; padding:0.5em 0;}
.header h1,
.header h1 a,
.header h1 a:hover	{font-size:26px; font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color :#000; text-decoration:none;}
.header h2			{font-size:14px; font-weight:normal;}
.date				{}
.body				{border:1px solid #8cacbb; padding:5px; background:#fff; font-size:12px;}
.content			{}
.footer				{}



/*** boxes ***/
.box				{background:#fff; border:1px solid #8cacbb; margin:5px;}
.box h3				{background-color:#c7d0d9; border-bottom:1px solid #8cacbb;}
.box h3 a			{text-decoration:none;}
.boxcontent			{padding:5px;}



/*** menus ***/
/* first we set the general settings */
.menu .head			{margin:0; text-decoration:none; border-bottom:1px solid #aeaeae;}
.menu .head:hover	{}
.menu .item:hover	{}
/* css dropdown related stuff */
.hor .head			{border:0; background:#c7d0d9;}
.hor ul .head		{border:solid #c7d0d9; border-width:0 10px;}
.hor ul .head:hover	{border-color:#8cacbb;}
.hor .item			{margin:0;}
.hor li a			{padding:0 0 0 5px;}
.hor li li ul		{margin-top:-1.9em;}
/* remove icons from dropdown menus */
.hor .icon,
.ver .icon			{display:none;}



/*** articles ***/
.articles .post			{margin-bottom:30px;}



/*** parsed text elements ***/
/* -=...=- */
.bitbar				{background:#c7d0d9; border:1px solid #8cacbb; padding:1px;}

/* cached pages */
.bitcache			{}

/* links to internal pages */
.bittable			{}
.bittable td		{border:1px solid #8cacbb;}



/*** images and icons ***/
/* icons */
.icon,.icon:hover	{}

/* floating help and/or admin icon at the top of admin pages */
.floaticon			{}



/* any table displaying data */
.data				{border:1px solid #8cacbb;}
.data td			{border:1px solid #8cacbb;}

/* alternating odd and even rows in tables */
.odd				{}
.even				{background:#f7f9fa;}

/* when no data is found - either a <tr> or a <div> */
.norecords			{}

/* find table found on pages with listings */
.find				{}

/*** tabstyle ***/
.tabsystem .tabcontainer a				{text-decoration:none;}
.tabsystem .tabcontainer a:hover		{background:transparent;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-hover,
.tabsystem .tabcontainer .tab-active	{border-color:#ccc; background-color:#c7d0d9;}
.tabsystem .tabcontainer .tab-hover		{border-top-color:#f90;}
.tabsystem .tabcontainer .tab-active	{border-top-color:#f90; background-color:#fff; color:#000;}
.tabsystem .tabcontainer h4				{font-size:10px;}
.tabsystem .tabpage						{border-color:#ccc; padding:1.5em;}

/*** navigation bars and tabs ***/
.navbar				{}
.navbar a			{border:1px solid #99bec6; color:#225566; margin:0 2px; padding:0 2px; background-color:#c7d0d9; text-decoration:none;}

/* pagination at the bottom of pages with listings */
.pagination			{padding:15px;}



/*** settings that have to be at the end ***/
.highlight,
a .highlight		{}


@media print {
	*			{background:#fff !important;}
	body		{padding:0 !important; margin:0 !important;}
	#container	{width:100% !important; margin:0 !important;}
	#wrapper	{float:none !important; width:100% !important;}
	#content	{margin:0 !important;}
	#bittopbar,.floaticon,.navbar,.footer,#logout,
	.menubar,#navigation,#extra,#navigation,
	#footer		{display:none !important;}
}
