@import url( ../../base.css );
/* this theme is based on the classic www.tikiwiki.org theme 'moreneat' */
/*******************************************************************************************/
/*** global settings ***/
/* these settings should be at the top of the css since they are the defaults and can be overridden further down */
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #e9ecef;
}
th {
	background: #c7d0d9;
	font-weight: normal;
}
th a {
	text-decoration: none;
}
hr {}

/* set the default font-size on the entire page | annoyingly this has to be one in this way for MSIE */
input,select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
small {}

/* general page title settings on every page */
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h1, h2, h3 {
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
}

/* links */
a {
	color: #436976;
}
a:hover {
	color: #000;
	background-color: #e9ecef;
}

/* images */
img {}
a img:hover {}

/*******************************************************************************************/
/*** site layout ***/
#tikibody {}
#tikilayouttable {}
#bittop {}
#bittopbar {
	background: #c7d0d9;
	border-top: 1px solid #8cacbb;
	border-bottom: 1px solid #8cacbb;
}
#bittopbar a {
	text-decoration: none;
}
#bitleft {
	padding: 0 5px;
}
#bitright {
	padding: 0 5px;
}
#tikimain {}
#tikimainfx {}
#tikibottom {}
#tikiprint {}

/*******************************************************************************************/
/*** common classes ***/
.display {}
.preview {}
.header {}
.header h1, .header h1 a, .header h1 a:hover {
	font-size: 26px;
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color : #000;
	text-decoration: none;
}
.header h2 {
	font-size: 14px;
	font-weight: normal;
}
.date {}
.body {
	border: 1px solid #8cacbb;
	font-size: 12px;
	padding: 5px;
}
.introduction {}
.introductionimage {}
.content {}
.footer {
	background: #fff;
	min-height: 16px;
	border-top: 1px solid #8cacbb;
}

/******************************************************************************************/
/*** boxes ***/
.box {
	background: #fff;
	border: 1px solid #8cacbb;
	margin: 5px;
}
.boxtitle {
	background-color: #c7d0d9;
	border-bottom: 1px solid #8cacbb;
}
.boxtitle a {
	text-decoration: none;
}
.boxcontent {
	padding: 5px;
}

/******************************************************************************************/
/*** menus ***/
/* first we set the general settings */
.menu .head {
	margin: 5px 0 0 0;
	text-decoration: none;
	border-bottom: 1px solid #aeaeae;
}
.menu .head:hover {}
#layouttable .menu .item {
	margin: 0 0 0 5px;
	text-decoration: none;
}
.menu .item:hover {}
/* css dropdown related stuff */
.hor .head {
	border:0;
}
.hor ul .head {
	border-bottom: 1px solid #aeaeae;
}
.hor .item {
	margin: 5px 0 0 0;
}
.hor li li ul {
	margin-top: -2em;
}
/* remove icons from dropdown menus */
.hor .icon,.ver .icon {
	display:none;
}
/******************************************************************************************/
/*** articles ***/
.articles {
	background: #fff;
	margin-bottom: 20px;
}
.articles .body {
	border: 0;
}
.articles .title {
	font-size: 16px;
}

/******************************************************************************************/
/*** parsed text elements ***/
/* -=...=- */
.tikibar {
	background: #c7d0d9;
	border: 1px solid #8cacbb;
	padding: 1px; 
}

/* cached pages */
.tikicache {}

/* links to internal pages */
.tikitable {}
.tikitable td {
	border: 1px solid #8cacbb;
}

/******************************************************************************************/
/*** images and icons ***/
/* icons */
.icon,.icon:hover {}

/* floating help and/or admin icon at the top of admin pages */
.floaticon {}

/******************************************************************************************/
/* any table displaying data */
.data {
	border: 1px solid #8cacbb;
}
.data td {
	border: 1px solid #8cacbb;
}

/* alternating odd and even rows in tables */
.odd {
}
.even {
	background: #f7f9fa;
}

/* when no data is found - either a <tr> or a <div> */
.norecords {}

/* find table found on pages with listings */
.find {}

				/* tabstyle */
.tabsystem .tabcontainer .tab,.tabsystem .tabcontainer .tab-hover,.tabsystem .tabcontainer .tab-active {
	top:3px;
	font:12px normal verdana,arial,sans-serif;
	margin:0 3px;
	padding:3px 5px 1px 5px;
	border:1px solid #ccc;
	border-bottom:0;
}
.tabsystem .tabcontainer .tab-hover {
	padding-top:2px;
	border-top:2px solid #f90;
}
.tabsystem .tabcontainer .tab-active {
	top:1px;
	padding:2px 8px 4px 8px;
	margin:0 0px;
	border-top:2px solid #f90;
	background:#fff;
	color:#000;
}
.tabsystem .tabpage {
	border:1px solid #ccc;
	padding:1.5em;
}

/******************************************************************************************/
/*** navigation bars and tabs ***/
.navbar {}
.navbar a {
	border: 1px solid #99bec6;
	color: #225566;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #c7d0d9;
	text-decoration: none;
}

/* pagination at the bottom of pages with listings */
.pagination {
	padding: 15px;
}

/******************************************************************************************/
/*** bottom bar ***/
.babelfish {}

/******************************************************************************************/
/*** settings that have to be at the end ***/
.highlight,a .highlight {}
