@media screen,projection,tv {
/* html tags */
body	{line-height:1.6em; background:#111 url( images/bg.png ) repeat;}

/* layout */
#wrap1				{background:#fff; width:800px; margin:0px auto 0px auto;}
#tikilogo			{height:120px; background:transparent url( images/top_logo.png ) top left repeat-x; clear:both;}
#bittop			{font-size:8pt; font-family:tahoma,arial,sans-serif;}
#toplogin			{text-align:right; background:#111;}
#toplogin a			{color:#999; padding:0 1em;}
#toplogin a:hover	{color:#fff;}
#bittopbar			{}
#tikimain			{}
#tikibottom			{clear:both; font-size:0.8em; text-align:center;}

/* headings */
#tikilogo h1,#tikilogo h2	{margin:0 0 0 170px;}
#tikilogo h1				{color:#fff; font-size:2em; line-height:20px; padding:70px 10px 0 10px;}
#tikilogo h2				{color:#aaa; font-size:1em; line-height:10px; padding:10px 10px 0 10px;}
.header						{background:green url( images/header_bg_grad.png ) top left repeat-x; color:#fff; border-bottom:1px solid #3b610f; padding:0 1em;}
.header h1					{padding:2.0em 0 0.2em 0;}
.header h2					{font-size:1.2em;}
.header a					{color:#fa0;}
.header a:hover				{color:#fe9;}
.header .date				{color:#bbb; font-size:0.9em;}
.header .date a				{color:#bbb; text-decoration:underline;}

/* common classes */
.structurebar,.gallerybar					{background:#111; color:#aaa; padding:0 1em;}
.structurebar a,.gallerybar a				{color:#f80;}
.structurebar a:hover,.gallerybar a:hover	{color:#fc6;}

/* navigation bars */
.navbar			{padding:1em;}
.navbar ul		{padding:0; margin:0; list-style:none;}
.navbar ul li	{float:left; list-style:none;}
.navbar a		{border:1px solid #bbb; background:#ddd; padding:0 1em; margin:0 0.5em;}
.navbar a:hover	{border:1px solid #999; background:#eee;}

/* pageactions */
.pageactions		{float:left; width:100%; padding:0.5em 0; line-height:normal;}
.pageactions ul		{margin:0; padding:0; list-style:none;}
.pageactions li		{margin:0; padding:0; display:inline;}
.sort a				{border:1px solid #bbb; background:#ddd; padding:0 1em; margin:0 0.5em;}
.sort a:hover		{border:1px solid #999; background:#eee;}
.tools				{text-align:center;}
.tools .icon		{padding:0.5em; margin:0 0.5em; border:1px solid #bbb; background:#ddd;}
.tools .icon:hover	{border-color:#999; background:#fff;}
.tabs				{background:#fb7e01 url( images/htmltabs/tab_bg.png ) top left repeat-x; border-bottom:1px solid #b85d04;}
.tabs li			{background:#fb7e01 url( images/htmltabs/tab_l.png ) top left no-repeat; padding:0.5em 0 0.5em 1px;}
.tabs a				{background:#fb7e01 url( images/htmltabs/tab_r.png ) top right no-repeat; padding:0.5em 1.5em; margin:0; float:left;}
.tabs a:hover		{color:#fff;}
.tabs li.current	{background:#fb7e01 url( images/htmltabs/tab_cur_l.png ) top left no-repeat; padding:0.5em 0 0.5em 1px; color:#fc6;}
.tabs .current a	{font-weight:bold; background:#fb7e01 url( images/htmltabs/tab_cur_r.png ) top right no-repeat; color:#fc6;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a				{float:none;}
/* End IE5-Mac hack */

/*** miscellaneous settings ***/
.quicktag	{margin:0 1px;}

/* modules */
.module ul,.module ul li	{list-style:none; margin:0; padding:0;}
.module ul					{margin-left:1em;}
}
