@import url( ../../base.css );
@import url( print.css );
/*@import url( ../blank/showdiv.css );*/
/*@import url( ../blank/showsitelayout.css );*/
/*@import url( ../blank/showpagelayout.css );*/
/*@import url( ../blank/showstructure.css );*/

/*******************************************************************************************/
/*** global settings ***/
/* these settings should be at the top of the css since they are the defaults and can be overridden further down */
body {
	font-family: URW Gothic L, Century Gothic, Nimbus Sans, Trebuchet MS, Lucida Sans Unicode, Microsoft Sans Serif, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: #679;
	background-image: url( images/page_bg.gif );
	background-color: white;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: bottom;
	height: 100%;
	line-height: 120%;
	text-align: center;
}
th {
	vertical-align: bottom;
	background: #fff;
	color: #000;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-size: 91%;
}
hr {
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
	margin: 0;
}
pre {
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	color: #900;
	width: 650px;
	line-height: 120%;
}
/* set the default font-size on the entire page | annoyingly this has to be one in this way for MSIE */
input, select {}
textarea {}
small { font-size:xx-small;}
/* general page title settings on every page */
h1 {
	color: #666;
	font-size: 164%;
}
h2 {
	color: #777;
	font-size: 145%;
}
h3 {
	color: #888;
	font-size: 127%;
}
h1, h2, h3 {
	padding: 5px 0px;
	font-weight: 600;
	margin-bottom: 5px;
}
/* links */
a {
	color: #66a;
	text-decoration: none;
}
.body a {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #aaf;
}
/* images */
img {
	border: 0;
}
a img:hover {}
/*******************************************************************************************/
/*** site layout ***/
#bitbody {
	padding: 10px;
}
#bittopbar {
	background-color: inherit;
	background-image: url( images/top_bg.gif );
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: bottom;
	height: 20px;
}
#bittop {
	text-align: center;
	position: relative;
	margin: 0px;
	padding: 0px;
	background-color: #506f8d;
	width: 700px;
}
#bitleft, #bitright, #bitlogo {
	position: absolute;
	font-size: 91%;
	margin: auto;
	left: 50%;
}
#bitlogo {
	width: 90px;
	height: 120px;
	top: 10px;
	padding-top: 20px;
	padding-left: 40px;
}
#bitleft, #bitright {
	top: 150px;
	width: 140px;
}
#bitleft, #bitlogo {
	margin-left: -495px;
}
#bitright {
	margin-left: 355px;
}
#bitmain {
	padding: 0px;
	margin: auto;
	width: 700px;
	background-color: white;
	text-align: left;
	border: 1px solid #4f6e8c;
}
#bitbottom {
	vertical-align: top;
	background-color: #506f8d;
	background-image: url( images/bottom_bg.gif );
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: bottom;
	height: 20px;
	width: 700px;
	margin: 0px auto 30px;
	color: #eee;
}
#bitbottom  a {
	color: #eee;
	font-size: 130%;
	font-weight: semi-bold;
}
#bitprint {}
/*******************************************************************************************/
/*** common classes ***/
.preview {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px 0;
}
.header {}
.header h1 {
	margin: 15px 0px 5px;
	text-align: left;
}
.header h1, .header h1 a, .header h1 a:hover {
	color: #666;
}
.date {
	font-size: 91%;
	padding: 0 0 0 20px;
}
.header h2 {
	font-weight: normal;
	color: #666;
	padding: 0 5px 0 15px;
}
.body {
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
	padding: 0px 50px;
}
.introduction {}
.introductionimage {}
.content {
	padding: 1px;
}
.footer {
	text-align: left;
	font-size: 91%;
	color: #aaa;
}
.actionicon {
	float: right;
}
/******************************************************************************************/
/*** boxes ***/
.box {
	margin: 10px 0px;
}
.boxtitle {
	color: #000;
}
.boxcontent {
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px;
}
.boxcontent ol li {
	margin-left: -5px;
}
.warning {
	padding: 10px;
	background: #fdd;
	border: 1px solid #000;
}
.help {}
/******************************************************************************************/
/*** menus ***/
/* first we set the general settings */
.menu .head {
	font-size: 82%;
	color: #eee;
	background-color: #506f8d;
	text-decoration: none;
	border-right: 1px solid white;
	margin: 0px;
}
.menu .head:hover, .menu .head:active {
	color: #506f8d;
	background-color: #eee;
}
.menu .item {
	font-size: 82%;
	text-decoration: none;
	white-space: normal;
	color: #eee;
	background-color: #506f8d;
	border-right: 1px solid white;
	padding: 0px 2px;
	margin: 0px;
}
.menu .item:hover {
	color: #506f8d;
	background-color: #eee;
}
.boxcontent li {
	font-size: 91%;
}
/* icons in menu pages area */
.menuicon {
	float: right;
}
/******************************************************************************************/
/* tocs */
.maketoc		{font-size:81%; width:35%; line-height:normal; float:right; border:1px solid #999; background:#eee; margin:0 0 1em 1em; padding:1em;}
.maketoc h3		{padding:0; border-bottom:1px solid #999;}
.maketoc a		{color:#666;}
.maketoc ul		{margin:0 0 0 1em; padding:0;}
.maketoc ul li	{list-style:square outside;}
.maketoc ul ul	{margin:0 0 0 2em; padding:0;}

/* forms */
form,textarea,select	{margin:0; padding:0;}
textarea				{width:100%;}
input,textarea,select	{font-size:91%;}
html>body input,textarea,select	{font-family:inherit;font-size:91%;}
#bitmain input,
#bitmain textarea,
#bitmain select			{}
input[type="text"]		{max-width:100%;}
fieldset				{border:0; border-top:3px double #7ac; border-bottom:1px solid #aaa; padding:1em; margin-bottom:1em;}
legend					{font-size:100%; padding:1em;}
.row					{clear:both;}
#bitmain .row			{margin-bottom:1em;}
.quicktags				{margin:0;}
.formlabel				{font-weight:bold; float:left; width:20%; text-align:right; font-size:91%;}
.forminput				{margin-left:21%;}
.formfeedback			{}
.formhelp				{cursor:help; font-size:91%; line-height:normal; color:#a76; border-bottom:1px dotted #999;}
.formhelp a				{font-weight:bold;}
.closebutton			{position:absolute; top:1px; right:1px;}
.submit					{text-align:center;}
#bitmain .submit		{padding:1.5em;}
.error,.errorpage h3	{color:#f00; font-weight:bold;}
.warning				{color:#f80;}
.success				{color:#090;}
.clear					{clear:both;}
.minifind fieldset		{border:0;}
.minifind legend		{display:none;}
.minifind fieldset		{padding:0.5em; margin:0;}
table .formlabel		{float:none; width:auto; text-align:left;}
table .forminput		{margin:0;}

/*** parsed text elements ***/
.bitbox {
	color: #eee;
	background: #abc;
	border: 1px solid #666;
	padding: 0.5em;
	margin: 0 1em;
}
.bitbox a {
	color: #357;
}
/* -=...=- */
.bitbar {
	padding: 1px;
	margin: 3px 0;
	font-weight: bold;
	color: #eee;
	background-color: #679;
	border-bottom: 1px solid #ddd;
	border-top:1px solid #ddd;
}
.bittoc			{float:right; border:1px solid #ddd; font-size:91%; background:#eee; margin:0 0 1em 1em; padding:0 1em; width:35%;}
.bittoc ul		{margin:0.5em 0 0.5em 1.5em; padding:0;}
.bittoc ul ul	{margin:0 0 0 1em;}
.bittoc ul li	{}
/* cached pages */
.cached {display:none; font-size:xx-small;}
/* links to internal pages */
.bittable {
	background: #ddd;
	border: 1px solid #4f6e8c;
}
.bittable td {
	padding: 2px;
	font-size: 110%;
	border: 1px solid #fff;
}
/******************************************************************************************/
/*** calendar ***/
.bitcalendar.bitcalendar table {
	font-size: 91%;
}
.bitcalendar.bitcalendar table th {
	vertical-align: top;
}
.bitcalendar.bitcalendar table td {
	border-top: 1px solid #ccc;
}
.bitcalendar .navigation table td {
	border: 0;
}
.popup {
	border: 1px solid #4f6e8c;
	font-size: 110%;
}
.weeknumber {
	border: 0;
	border-right: 1px solid #ccc;
	padding-top: 2px;
}
.calday {}
.calcontent {}
/* the calendar table that displays the days, dates and data */
table.bitcalendar {}
/* days in the month view, that are not part of the selected month */
.notmonth {}
/* stuff */
.Cal0		{background: #eee;}
.Cal1		{background: #ddf;}
.Cal2		{background: #fdd;}
.Calwiki	{background: #ffc;}
.Calblog	{background: #fcf;}
.Calgal		{background: #cff;}
.Calart		{background: #ccf;}
.Calforum	{background: #cfc;}
.Caldir		{background: #fcc;}
.Calfgal	{background: #ffd;}
.Calfaq		{background: #fdf;}
.Calquiz	{background: #dff;}
.Caltrack	{background: #ddf;}
.Calsurv	{background: #dfd;}
.Calnl		{background: #fdd;}
.Caleph		{background: #fff;}
.Calchart	{background: #fff;}
.Cal0,.Cal1,.Cal2,
.Calwiki,.Calblog,.Calgal,
.Calart,.Calforum,.Caldir,
.Calfgal,.Calfaq,.Calquiz,
.Caltrack,.Calsurv,.Calnl,
.Caleph,.Calchart {padding: 2px;}
/******************************************************************************************/
/*** structures ***/
.structure {}
.structurebar {
	color: #000;
	padding: 5px 0px;
}
.structurebar .path {
	padding: 2px 0px 0px;
	text-align: left;
	font-weight: bold;
}
.navigation {
	border: 1px solid #eee;
	font-size: 91%;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.path {
	font-size: 91%;
}
/******************************************************************************************/
/*** categories ***/
/* this section really has to be worked on at some point */
.category {
	font-size: 91%;
	margin: 0px -10px;
}
.tree {
	font-size: 110%;
	padding-left: 20px;
}
.treenode {}
.category .path {
	color: #eee;
	background: #abc;
	padding: 2px 10px;
	text-align: right;
}
.categpath {
	color: #eee;
	font-weight: bold;
}
.catname {}
.catlists {}
.category .boxtitle {
	font-weight: bold;
}
.category .boxcontent {
	color: #eee;
	background: #abc;
}
/******************************************************************************************/
/*** directories ***/
.directory h1 {
	text-align: left;
	margin: 0;
}
.subcategories {
	border-collapse: separate;
	font-size: 110%;
}
.subcategories td {
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	vertical-align: top;
}
.subcategory {
	font-size: 145%;
}
.subsubcategory {
}
.site {
	border: 1px solid #ddd;
	margin: 10px 0px;
}
.site.list {
	border: 0;
}
.related {}
/******************************************************************************************/
/*** user messages and priorities in the calendar ***/
prio1 {}
prio2 {}
prio3 {}
prio4 {}
prio5 {}
prio6 {}
prio7 {}
prio8 {}
prio9 {}
/******************************************************************************************/
/*** articles ***/
.articles {}
.articlerating {}
/******************************************************************************************/
/*** image galleries ***/
.thumbnails td {
	vertical-align: bottom;
	height: 150px;
	font-size: 91%;
}
.showimage {
	text-align: center;
}
.caption {}
/******************************************************************************************/
/*** bitforums ***/
.bitforum.data {}
.bitforum.footer {}
/* threads that are ... */
.unread {}
.read {}
/******************************************************************************************/
/*** images and icons ***/
/* icons */
.icon, .icon:hover {
	width: 16px;
	height: 16px;

}
/* floating help and/or admin icon at the top of admin pages */
.floaticon {}
/******************************************************************************************/
/*** data tables ***/
.other {}
/* submission panels */
.panel {
	font-size: 91%;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
/* submission buttons in panels */
.panelsubmitrow td {
	border-top: 1px solid #ccc;
	background: #ddd;
}
/* any table displaying data */
.data {
	font-size: 91%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
.data td {
	vertical-align: top;
}
/* alternating odd and even rows in tables */
.odd {
	background: #eee;
}
.even {}
/* when no data is found - either a <tr> or a <div> */
.norecords {
	color: #faa;
	text-align: center;
}
/* find table found on pages with listings */
.find {
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
	margin: 10px 0;
}
				/* tabstyle */
.tabsystem .tabcontainer .tab,.tabsystem .tabcontainer .tab-hover,.tabsystem .tabcontainer .tab-active {
	top:3px;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin:0 3px;
	padding:3px 5px 1px 5px;
	border:1px solid #ccc;
	border-bottom:0;
}
.tabsystem .tabcontainer .tab-hover {
	padding-top:2px;
	border-top:2px solid #f90;
}
.tabsystem .tabcontainer .tab-active {
	top:1px;
	padding:2px 8px 4px 8px;
	margin:0 0px;
	border-top:2px solid #f90;
	background:#fff;
	color:#000;
}
.tabsystem .tabpage {
	border:1px solid #ccc;
	padding:1.5em;
}
/******************************************************************************************/
/*** navigation bars and tabs ***/
.navbar {
	font-size: 81%;
}
.navbar a {
	border: 1px solid #ccc;
	border-top: 2px solid #777;
	border-right: 2px solid #777;
	padding: 1px 3px;
	margin: 0px 3px;
}
.copyright {
	margin-top: 0px;
	font-size: 91%;
}
/* pagination at the bottom of pages with listings */
.pagination {
	width: 150px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 91%;
	color: #fff;
	background: #ccc;
	text-align: center;
}
/******************************************************************************************/
/*** bottom bar ***/
.babelfish {}
/******************************************************************************************/
/*** settings that have to be at the end ***/
.highlight, a.highlight {
	color: #777;
}
