@import url( ../../base.css );
/*@import url( ../blank/showdiv.css );*/
/*@import url( ../blank/showsitelayout.css );*/
/*@import url( ../blank/showpagelayout.css );*/
/*@import url( ../blank/showstructure.css );*/

/*******************************************************************************************/
/* these settings should be at the top of the css since they are the defaults and can be overridden further down */

						/*** global settings ***/
body {
	font-family: Luxi Sans, Nimbus Sans, Century Gothic, Trebuchet MS, Lucida Sans Unicode, Microsoft Sans Serif, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	color: #679;
	background-image: url( images/page_bg.gif );
	background-color: white;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: bottom;
	height: 100%;
	line-height: 120%;
}
th {}
hr {
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
	margin: 0;
}
small {}
h1 {
	color: #666;
	font-size: 18px;
}
h2 {
	color: #777;
	font-size: 16px;
}
h3 {
	color: #888;
	font-size: 14px;
}
h1, h2, h3 {
	padding: 3px 20px;
	font-weight: 600;
}
a {
	color: #66a;
	text-decoration: none;
}
a:link {}
a:visited {}
a:hover {
	color: #aaf;
}
a:active {}

						/*** site layout ***/
#bitbody {
	border-collapse: collapse;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
#bitlayouttable {}
#bittopbar {
	padding: 1px;
	margin: auto;
	background-color: #506f8d;
	width: 700px;
}
#bittop {
	padding: 3px;
	height: 15px;
	margin: auto;
	color: #eee;
	background-image: url( images/top_bg.gif );
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: bottom;
	background-color: #506f8d;
	text-align: center;
	width: 695px;
}
#bittop a {
	background: transparent;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #eee;
}
#bittop a:hover {
	text-decoration: underline;
	color: #fff;
}

#bitleft {
	position: absolute;
	top: 150px;
	margin-top: 0px;
	float: left;
	clear: none;
	font-size: 11px;
	padding: 0 5px;
	width: 140px;
}

#bitright {
	position: absolute;
	top: 150px;
	left: 1300px;
	margin-top: 0px;
	float: right;
	clear: right;
	display: block;
	font-size: 11px;
	padding: 0 5px;
	width: 140px;
}
/* friggin MSIE requires the width attribute here as well for overflow to work - ARGH */
#bitleft .module			{width:140px;}
#bitright .module			{width:140px;}
/* adjusting width of #bitmain depending on displayed columns - in this theme left column should always be present */
.bit-cols-2 {
	margin:10px 170px 10px 185px;
	vertical-align: top;
}
.bit-cols-1 {
	margin:10px 10px 10px 185px;
	vertical-align: top;
}

#bitmain {
	margin: 0px auto;
	padding: 10px;
	width: 678px;
	background-color: white;
	border: 1px solid #4f6e8c;
}
#bitmainfx {
	border-top: 0;
	background: #fff;
	padding: 0px 80px;
}
#bitbottom {
	text-align: center;
}
#bitprint {}
#slideshow {}

						/*** common classes ***/
.display {}
.preview {
	border-top: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
	background: #eee;
	margin: 10px 0;
	padding: 10px 0;
}
.header {}
.header h1 {
	padding: 5px 0px;
	text-align: left;
}
.header h1, .header h1 a, .header h1 a:hover {
	color: #666;
}
.header h2 {
	font-weight: normal;
	color: #666;
	padding: 0 5px 0 15px;
}
.date {
	font-size: 10px;
	padding: 0 0 0 20px;
}
.body {
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
}
.introduction {}
.introductionimage {}
.content {}
.footer {
	text-align: left;
	font-size: 10px;
	color: #aaa;
}
.actionicon {
	float: right;
}

						/*** forms ***/
input {}
select {}
textarea {}
fieldset {}
legend {}
label {}
.row {}
.formlabel {}
.forminput {}
.formhelp {}
.submit {}
.clear {}
.minifind {}

						/*** boxes ***/
.box {
	margin: 10px 0px;
}
.boxtitle {
	color: #000;
}
.boxcontent {
	background: #eee;
	border: 1px solid #ddd;
	padding: 2px;
}
.module {}

						/*** menus ***/
li {
	padding: 0px 3px;
}

.menu .head {
	margin-top: 7px;
	font-size: 12px;
}
.menu .head:hover, .menu .head:active {
	background-image: url( images/down.gif );
	background-repeat: no-repeat;
	background-position: right;
}
.menu .item {
	padding: 0 0 0 8px;
	font-size: 10px;
}
.menu .item:hover {
	background-image: url( images/arrow.gif );
	background-repeat: no-repeat;
	background-position: 1px 3px;
}

						/*** parsed text elements ***/
.bitbar {
	padding: 1px;
	margin: 3px 0;
	font-weight: bold;
}
.bitbox {}
.bittable {
	background: #ddd;
	border: 1px solid #4f6e8c;
}
.bittable td {
	padding: 2px;
	font-size: 12px;
	border: 1px solid #fff;
}
.bitcache {}

						/*** structures ***/
.structure {}

						/*** articles ***/
.articles {}
.articlerating {}

						/*** image galleries ***/
.thumbnails {}

						/*** images and icons ***/
img {
	border: 0;
}
.icon {}
.thumb {
	vertical-align: bottom;
	height: 150px;
	font-size: 10px;
}

						/*** data tables ***/
.data {
	font-size: 0.8em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
.data td {
	vertical-align: top;
}
.odd {
	background: #eee;
}
.even {}
.norecords {
	color: #faa;
	text-align: center;
}
.minifind {}

						/*** navigation bars and tabs ***/
.navbar {}
.pagination {}

						/*** settings that have to be at the end ***/
.highlight {}
