@media print {
body			{background:#fff; font-family:sans-serif;}
#bitbar		{display:none;}
#bittopbarwrap	{display:none;}
#bittop		{display:none;}
#bitleft		{display:none;}
#bitright		{display:none;}

.navbar			{display:none;}
.floaticon		{display:none;}
}
