html {background:none;background-color:#B0C4DE;}

#bittopbar {	position:absolute;right: 220px;float:left;}
 .toplogin 
 {
 	position: absolute;
 width: 220px;
float:right;
 }
 #bittopbar a {border:1px solid #B0C4DE;border-top:0px solid #B0C4DE;border-bottom:2px solid #B0C4DE;}
#tikimain
{
	right: 220px;
	background:none;
	background-color:white;
	}
#bitmodules
{
	width: 220px;
	padding-top:1em;
}
#tikibottom
{	
	width: 220px;
}
 .module .boxtitle {color:#fff; padding:2em 2em 0.3em 3em;	background-image: url(images/modul_title_bg.png);	background-repeat: no-repeat;	background-position: center top;} 
 .module .boxcontent {margin:0em; padding: 0.7em 2em 2.5em 3em; 	background-image: url(images/modul_content_bg.png); 	background-repeat: no-repeat; 	background-position: center bottom;} 
 .module {margin-bottom:1em;}
