/* @import url( ../../base.css ); */
/* @import url( showdiv.css ); */
/* @import url( showsitelayout.css ); */
/* @import url( showpagelayout.css ); */
/* @import url( showstructure.css ); */

/* blank.css is called to simplify styling. if you want to really start from
 * scratch, please remove or comment the first line. */

/* these classes and ids apply when you are creating a theme using the
 * original templates. some themes might deviate from these slightly. many
 * themes use a div based layout system, which means that the layout section
 * might be quite different. */

/* indenting in this file tries to illustrate nesting of elements as they
 * occur in most cases */


                        /*** global settings ***/
body                    {}       /* encases entire visible area */
/* the body tag also has the active package name as ID e.g.: */
body#articles           {}
hr                      {}       /* horizontal rule */
/* bitweaver generally only uses h1, h2 and h3 */
h1                      {}       /* large headings */
h2                      {}       /* medium headings */
h3                      {}       /* smaller headings */
small                   {}       /* small text */
strong                  {}       /* bold text */
a:link                  {}       /* regular link */
a:visited               {}       /* link after it has been visited */
a:hover                 {}       /* link while mouse pointer is hovering over it */
a:active                {}       /* link after it has been clicked */
pre                     {}       /* code sections */
code                    {}       /* code sections */


                        /*** site layout ***/
/* the div ids listed below are the ones used by the original
 * kernel/templates/bitweaver.tpl file. these ids are compatible with the
 * layout selections in the themes manager. using these ids will allow you to
 * not worry about layout but will allow you to concentrate on the design. if
 * your theme has a custom themes/styles/<style>/kernel/bitweaver.tpl file,
 * please consult that for used ids and classes for details */
div#container           {}       /* div encasing entire site */
 div#header             {}       /* usually contains the banner of the site */
  div#bittopbar         {}       /* menu bar just below the site banner */
 div#wrapper            {}       /* usually only used for layout */
 div#content            {}       /* surrounds the center column and is part of the layout */
  div#navigation        {}       /* usually left column for modules */
  div#extra             {}       /* usually right column for modules */
 div#footer             {}       /* bottom bar accors the page */


                        /*** common classes ***/
/* .display .edit .listing and .admin are used in the outermost divs in the center column */
div.edit,
div.listing,
div.admin,
div.display             {}       /* contains center column with very few exceptions such as the structure navigation bar */
div.edit                {}       /* when the page is used to edit content */
div.listing             {}       /* pages containing lists of data such as wiki pages listing */
div.admin               {}       /* used instead of display on admin pages */
 div.preview            {}       /* encases preview of entry when requested */
 div.header             {}       /* contains the h1 and .date of page */
  div.header h1         {}       /* the actual heading */
  div.header h2         {}       /* description of the page you're on */
  div.date              {}       /* just after h2 or h1 if there is no h2 */
 div.body               {}       /* contains all textual data of the page including .date, .content and .footer */
  div.content           {}       /* contains the actual text of the page */
  div.footer            {}       /* additional information regarding the particular page */

.success                {}       /* success messages - div, span or p */
.warning                {}       /* warning messages - div, span or p */
.error                  {}       /* error messages - div, span or p */


                        /*** forms ***/
form                    {}       /* complete form */
 fieldset               {}       /* frame surrounding sections of / complete form */
  legend                {}       /* description of form - typically top left corner of form */
  label                 {}       /* label for a particular form element */
  input                 {}       /* input elements in form */
  select                {}       /* selection dropdown boxes */
  textarea              {}       /* textareas */
/* bitweaver uses a flexible div based form system */
  div.row               {}       /* form elements are in <div class="row"> label and input fields </div> */
   div.formlabel        {}       /* div that encases description of a particular form element (usually has a nested <label></label> within) */
   div.forminput        {}       /* div surrounding input elements */
    div.formhelp        {}       /* help regarding a particular form element */
  div.submit            {}       /* contains <input type="submit" /> */
form.minifind           {}       /* small search form to find items in a set of data */


                        /*** boxes ***/
div.module              {}       /* any module in #bitleft or #bitright */
div.help                {}       /* modules that contain help notes such as the wiki help at the bottom of the wiki edit page */
div.box                 {}       /* any box on the site, including <div class="box module"> for modules */
 div.box h3             {}       /* the title in any .box is an h3. */
 div.boxcontent         {}       /* content in boxes */


                        /*** menus ***/
/* menus can be tricky to define since we use CSS dropdown menus which require
 * a lot of sophisticated css code. please view existing themes and base.css
 * on how to create a working css dropdown menu.  a working css menu dropdown
 * is included as an example towards the end of this file. */
.menu .head             {}       /* main section of menus - also menu items in #bittopbar */
.menu .item             {}       /* options that are part of the menu section - also used in the 'My Site' page */
.m-<package>            {}       /* these classes are used in the top bar menu. every single menu dropdown has "m-" + "package name" as class for the ultimate in menu styling options */


                        /*** images and icons ***/
img                     {}       /* images */
img.icon                {}       /* icons */


                        /*** data tables ***/
table                   {}       /* any table found in the site */
caption                 {}       /* used to describe the contents of a table */
th                      {}       /* column headings */
table.data              {}       /* any table displaying data */
/* setting the border for tr doesn't work in MSIE. please use 'tr.odd td {}' to specify an MSIE visible border */
 tr.odd                 {}       /* alternating odd and even rows in tables */
 tr.even                {}       /* alternating odd and even rows in tables */
 .norecords             {}       /* when no data is found - either a tr or a div */
 td.actionicon          {}       /* action items available for particular page - used in table.data td as well */


                        /*** navigation bars ***/
div.navbar              {}       /* navigation bar with buttons for navigation */
 a.selected             {}       /* selected navigation tab */
div.pagination          {}       /* pagination at the bottom of pages with listings */


                        /*** lists ***/
dl                      {}       /* definition lists */
 dt                     {}       /* definition term */
 dd                     {}       /* definition of term */
ul                      {}       /* any unordered list */
ol                      {}       /* ordered lists */
 li                     {}       /* any list items */
ul.toc                  {}       /* table of contents - visible when you use structures - aka wiki books */
ul.data                 {}       /* several data listing use <ul> <li> as it allows greater styling freedom compared to tables */
 ul.data li.item        {}       /* items found in data listings */
/* virtually all data in modules is expressed as ul or ol lists since this allows custom numbering */
div.module ul           {}       /* any lists displayed in modules that generally don't require numbering */
div.module ol           {}       /* any lists displayed in modules that generally require numbering */


                        /*** miscellaneous ***/
.highlight              {}       /* highlighting text - div, span or a */
p.codetitle             {}       /* title associated with code segments */


/* Depending on your site, you might want to include only few of the following rules */

                        /*** parsed text elements
                             available when using tikiwiki syntax and tinymce ***/
/* these definitions only really apply when using bitwiki format syntax */
div.bitbar              {}       /* tikiwiki syntax: -=...=- */
div.bitbox              {}       /* tikiwiki syntax: ^...^ */
table.bittable          {}       /* tikiwiki syntax: ||r1c1|r1c2 \n r2c1|r2c2|| */


                        /*** css dropdown menus ***/
/* This might serve as a staring point for a css driven dropdown menu. I have
 * split the layout and design for easier styling. */
/* dropdown essentials */
.hor                    {line-height:2em;}
.hor,
.hor ul                 {padding:0; margin:0; list-style:none;}
.hor a                  {display:block; padding:0 0.5em;}
.hor li li,
.hor li ul              {width:13em; display:block;}
.hor li                 {float:left; position:relative;}
.hor li ul              {position:absolute; left:-999em;}
.hor li ul ul           {margin:-2.1em 0 0 13em;}
/* keep the dropdown on top */
.hor,
.hor a,
.hor li ul              {z-index:1000;}
/* msie specific */
.hor table              {margin:-1px; width:auto; border-collapse:collapse; font-size:1em;}
/* make sure the dropdown appears when hovering over link */
.hor li:hover ul ul,
.hor li:hover ul ul ul  {left:-999em;}
.hor li:hover ul,
.hor li li:hover ul,
.hor li li li:hover ul  {left:auto;}

/* dropdown style 1 */
.hor .icon              {vertical-align:middle; padding:0 0.6em 0 0; margin-left:-2.2em;}
.hor li:hover           {background:#eee;}
.hor li li a            {background:#def; margin:0 0 0 2em;}
.hor li ul              {background:#fed; border:1px solid #999;}
/* */

/* dropdown style 2 * /
.m-admin                {background:#ff0;}
.hor .icon              {display:none;}
.hor li                 {width:13em; text-align:center;}
.hor li:hover           {background:#ddd;}
.hor li li              {width:12.4em; margin:0.2em 0;}
.hor li li a            {background:#def;}
.hor li li a.head       {background:#efd;}
.hor li li a:hover      {background:#fed;}
.hor li ul              {width:12.4em; background:#9ac; padding:0.1em 0.3em;}
.hor li ul ul           {margin:-2.2em 0 0 12.4em;}
/* */

                        /*** javascript / css tabs ***/
/* This might serve as a starting point for styling tabs */
/* tabs essentials */
.tabsystem                              {margin:1em;}
.tabsystem .tabcontainer                {margin:0; padding:0; border:0; clear:both; z-index:1;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-active    {position:relative; display:inline; float:left; z-index:1; white-space:nowrap;}
.tabsystem .tabpage                     {z-index:1; clear:both;}
h4                                      {margin:0; padding:0; z-index:1;}

/* tabs style */
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-hover,
.tabsystem .tabcontainer .tab-active    {top:3px; font:10px verdana,arial,sans-serif; margin:0 3px; background:#eee; padding:4px 5px 1px 5px; border:1px solid #bbb; border-bottom:0;}
.tabsystem .tabcontainer .tab-hover     {padding:3px 5px 1px 5px; border-top:2px solid #f60;}
.tabsystem .tabcontainer .tab-active    {top:1px; margin:0 0px; color:#000; padding:2px 8px 4px 8px; background:#fff; border-top:2px solid #f60;}
.tabsystem .tabpage                     {border:1px solid #bbb; margin:0; padding:1em;}


/* if you are interested in using individually styled dropdown menus, try
 * using this in your theme the '!important' is required to override the
 * existing settings * /
.m-home,       .m-home ul,       .m-home li,       .m-home a        {background:#fff !important;}
.m-admin,      .m-admin ul,      .m-admin li,      .m-admin a       {background:#eee !important;}
.m-blogs,      .m-blogs ul,      .m-blogs li,      .m-blogs a       {background:#ddd !important;}
.m-calendar,   .m-calendar ul,   .m-calendar li,   .m-calendar a    {background:#ccc !important;}
.m-categories, .m-categories ul, .m-categories li, .m-categories a  {background:#aaa !important;}
.m-contacts,   .m-contacts ul,   .m-contacts li,   .m-contacts a    {background:#999 !important;}
.m-phpbb,      .m-phpbb ul,      .m-phpbb li,      .m-phpbb a       {background:#fce !important;}
.m-fisheye,    .m-fisheye ul,    .m-fisheye li,    .m-fisheye a     {background:#fcb !important;}
.m-users,      .m-users ul,      .m-users li,      .m-users a       {background:#fec !important;}
.m-nexus,      .m-nexus ul,      .m-nexus li,      .m-nexus a       {background:#fbc !important;}
.m-sample,     .m-sample ul,     .m-sample li,     .m-sample a      {background:#cef !important;}
.m-stats,      .m-stats ul,      .m-stats li,      .m-stats a       {background:#cbf !important;}
.m-stylist,    .m-stylist ul,    .m-stylist li,    .m-stylist a     {background:#cfe !important;}
.m-wiki,       .m-wiki ul,       .m-wiki li,       .m-wiki a        {background:#cfb !important;}
/* */
