/******************************************************************************************/
/*** Show site layout ***/
#bitbody	{ border: 4px solid cyan; }
#bittop	{ border: 3px dashed pink; }
#bittopbar	{ border: 2px dotted lightgreen; }
#bitleft	{ border: 4px dashed green; }
#bitright	{ border: 4px dashed magenta; }
#bitmain	{ border: 3px dashed blue; }
#bitmainfx	{ border: 2px solid silver; }
#bitbottom	{ border: 4px dashed red; }
