@media screen,projection,tv {
/* layout */
html	{background:#fff}
body	{}

#bitholder {background:transparent url( images/narrow.png ) top left no-repeat !important;}
#bitbody	{}
#bitbottom	{clear:both; font-size:0.8em; text-align:center; color:#999;}

#bitmain				{background:transparent url( images/bottom.png ) bottom right no-repeat; padding:5px 20px 20px 20px;}
#bitleft,#bitright		{position:absolute; font-size:0.8em;}
#bitleft				{width:175px; left:10px; top:50px;}
#bitright				{width:160px; right:10px; top:70px;}

#bitlogo	{clear:both; height:25px; text-align:right; padding:6px 30px 0 0;}
#bittopbar	{text-align:center; padding:4px 0 2px 0; font-size:1.1em; font-weight:900;}

/*#bitlogin	{color:#999; float:right; padding:0; margin:0; line-height:normal;}*/
#bitlogin	{color:#999; padding:0; margin:0; line-height:normal;}
#bitlogin a	{color:#666;}

/* #bitsearch								{font-size:0.8em; clear:both; text-align:right; color:#666; padding:5px 10px 0 0;}*/
#bitsearch								{font-size:0.8em; color:#666; padding:2px 0 0 0;}
#bitsearch *							{color:#666;}
#bitsearch input[type="text"]			{border:solid #666; border-width:0 0 1px 0; margin:0 0.3em; padding:2px;}
#bitsearch input[type="text"]:focus		{border:solid #000; border-width:0 0 1px 0; color:#000;}
#bitsearch input:hover,
#bitsearch input[type="submit"]:focus	{color:#000;}

/* adjusting width of #bitmain depending on displayed columns - in this theme left column should always be present */
.bit-cols{margin:10px 50px 10px 64px;}

.bit-holder-2{margin-left:130px; margin-right:130px;}
.bit-holder-1l{margin-left:130px; margin-right:10px;}
.bit-holder-1r{margin-left:10px; margin-right:130px;}
.bit-holder-0{margin-left:10%; margin-right:10%;}
}
