/* view files in
	-	'styles/slideshows/'
		and
	-	'styles/blank/'
 * for information on how to create your own slideshow.css */
h1 {
	font-size: 2.4em;
	line-height: 120%;
}
.content {
	font-size: 1.3em;
	line-height: 120%;
}
