@import url( ../../base.css );
/******************************************************************************************/
/* if you require information on how this css is set up and how to create a theme, please visit
 * - http://www.bitweaver.org/tiki-index.php?page=bitweaverThemeTutorial
 */
/******************************************************************************************/
/*** tags ***/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	background: #fff;
	margin: 0px;
	padding: 0px;
}
th {
	font-weight: normal;
	background: #c8c0ae;
	padding: 2px;
}
th a {
	color: #000;
	text-decoration: underline;
}
th a:hover {
	color: #fff;
}
hr {
	height: 1px;
	background: #fff;
	border-width: 0px;
	background-image: url( images/hr.gif );
	background-position: left;
	background-repeat: no-repeat;
	margin: 2px;
}
pre {
	border: 1px solid #aea696;
	padding: 3px;
	background: #fff;
	color: #009;
}
small {
	font-size: 10px;
}
/* general page title settings on every page */
/* addition of the title classes is necessary to override the included base.css */
/* wiki - ! */
h1	{	font-size: 18px;	}
/* wiki - !! */
h2	{	font-size: 16px;	}
/* wiki - !!! */
h3	{	font-size: 14px;	}
h1, h2, h3 {
	font-weight: normal;
	color: #6c6454;
}
/* links */
a {
	color: #a00;
	text-decoration: none;
}
a:hover {
	color: #f80;
	text-decoration: none;
}
/* images */
img {
	border: 1px solid #aea696;
	padding: 0px;
}
a img:hover {
	border: 1px solid #f80;
}
/******************************************************************************************/
/*** layout ids ***/
#tikiheader {}
#tikibody {}
#bittop {
	color: #999;
	background: #e8e5de;
	padding: 3px 3px 3px 15px;
	background-image: url( images/tikipro.gif );
	background-position: 3px 3px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 24px;
}
#bittopbar {
	padding: 1px 5px;
	background: #aea696;
	border-bottom: 1px solid #6c6454;
}
#bitleft {
	padding-right: 10px;
	background-image: url( images/col1.gif );
	background-position: right top;
	background-repeat: repeat-y;
}
#bitright {
	padding-left: 10px;
	background-image: url( images/col1.gif );
	background-position: left top;
	background-repeat: repeat-y;
}
#tikimain {
	background-image: url( images/bg.gif );
	background-position: right top;
	background-repeat: repeat-y;
}
#tikimainfx {
	padding: 0 10px;
	vertical-align: top;
	background-color: transparent;
}
#tikibottom {}
/******************************************************************************************/
/*** common layout ***/
.header h1 {
	font: 20px Impact, Verdana, Arial;
	text-align: left;
	color: #6c6454;
	background-image: url( images/hr.gif );
	background-position: bottom left;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
.header h2 {
	font-size: 14px;
	text-align: center;
	color: #6c6454;
	margin: 5px 0px;
}
.date {
	color: #999;
	text-align: right;
}
.body {}
.admin .body {
	background: transparent;
}
.introduction {
	width: 100%;
	padding-bottom: 5px;
	border-top: 1px dashed #aea696;
	text-align: justify;
}
.introductionimage {
	float: right;
	border: 1px solid #aea696;
	padding: 5px;
	margin: 5px;
}
.content {
	width: 100%;
	padding: 5px 0;
	border-top: 1px dashed #aea696;
	text-align: justify;
}
.footer {
	color: #999;
	background-image: url( images/hr.gif );
	background-position: left top;
	background-repeat: no-repeat;
	min-height: 17px;
}
.actionicon {
	float: right;
}
/******************************************************************************************/
/*** forms ***/
input, select, textarea {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}
textarea {
	width: 100%;
}
fieldset {
	width: 94%;
	border: 1px dashed #aea696;
	padding: 2%;
	margin: 10px auto;
}
legend {
	color: #6c6454;
	background: #e8e5de;
	border: 1px solid #aea696;
	padding: 2px 4px;
	margin: 1px;
	font-size: 12px;
}
.row {
	clear: both;
}
label {
	color: #666;
}
label:hover {
	color: #c60;
}
.formlabel {
	background: #e8e5de;
	border: 1px solid #aea696;
	padding: 2px 1%;
	width: 29%;
}
.formlabel label {
	display: block;
}
.forminput {
	width: 67%;
}
.formhelp {
	font-size: 10px;
	color: #666;
	padding: 0 0 20px 0;
}
.submit {
	text-align: center;
	padding: 15px 0 10px 0;
}
.smileys .formlabel,.quicktags .formlabel {
	display: none;
}
/******************************************************************************************/
/*** boxes ***/
.box {
	border: 1px solid #6c6454;
	margin: 5px 0;
}
.box h3 {
	text-align: center;
	color: #fff;
	background: #aea696;
	border-bottom: 1px solid #6c6454;
	padding: 2px;
}
.box h3 a {
	color: #ff9;
	text-decoration: underline;
}
.box h3 a:hover {
	color: #fff;
}
.boxcontent {
	padding: 3px;
}
/* types of boxes */
/* all modules have <div class="module box"> surrounding them */
.module {
	padding: 5px;
	border: 1px solid #e8e5de;
}
/* aligning boxtitle text differently depending on what side they are on */
#bitright .module h3	{ text-align: left; }
#bitleft .module h3		{ text-align: right; }
.module h3 {
	color: #aea696;
	background: transparent;
	border: 0;
}
.module h3 a {
	color: #aea696;
	text-decoration: none;
}
.module .boxcontent {
	border: 0;
}
.module .boxcontent td {
	vertical-align: top;
}
/* list is used when items get listed. occurs for exapmle in the faq and directory site list */
.list {}
/* used in quizzes and faqs in conjunction with list when listing items */
.question {
	padding: 5px 5px 2px 5px;
}
.answer {
	background: #e8e5de;
	padding: 2px 5px;
}
.storage .item {
	border-bottom: 1px dashed #6c6454;
	padding: 5px 2px;
}
/* boxes on search page */
.search {}
/* configuration of individual modules */
/* in addition _every_ module box has it's individual class corresponding to the module_name */
/* the application menu for exapmle uses --> <div class="module box application-menu"> */
.box.tikicalendar .navigation {
	text-align: center;
}
.module.box.tikicalendar table.mother td {
	color: #999;
	text-align: center;
}
.module.box.tikicalendar .highlight {
	color: #00a;
}
/******************************************************************************************/
/*** menus ***/
/* first we set the general settings */
/* menuhead color is generated in custom mod_application-menu.tpl */
.menu .head {
	color: #6c6454;
	padding: 3px 0 0 2px;
}
.menu .head:hover {
	color: #fff;
	background: #aea696;
}
.menu .item {
	color: #6c6454;
	padding: 0 0 0 10px;
}
.menu .item:hover {
	color: #000;
	background: #e8e5de;
}
.hor {
	line-height: 16px;
}
/* link in top of menus that can be collapsed such as the application menu */
.flip {
	color: #fff;
}
/* all menuoptions in the application menu, not part of a section */
.globalmenu .menu .item {
	padding: 1px 0 1px 1px;
}
/* surrounds each section in the application menu */
.appmenu {
	margin: 7px 0;
}
/* surrounds each section in the custom menus */
.custommenu {}
/* link collection on the 'my' page */
.my .box .menu .item {
	padding-left: 1px;
}
/* entire menu in the upper menubar */
#bittopbar a {
	background: transparent;
	padding: 0px 5px;
	color: #6c6454;
}
#bittopbar a:hover {
	color: #000;
}
/* additionally every section within the menus can be customised individually */
/* hide title of the application menu */
.application-menu h3 {
	display: none;
}
/******************************************************************************************/
/*** parsed text elements ***/
/* -=...=- */
.tikibar {
	letter-spacing: 4px;
	background: #e8e5de;
	padding: 2px;
}
/* cached pages */
.tikicache {}
/* links to internalpages */
.tikitable {}
.wiki .content td {
	background: #e8e5de;
	vertical-align: middle;
	border: 1px solid #fff;
}
.tikibox {
	padding: 5px;
	border: 1px solid #e8e5de;
	background: #fff;
}
/******************************************************************************************/
/*** structures ***/
.structurebar {
	margin-bottom: 10px;
}
/******************************************************************************************/
/*** categories ***/
/* this section really has to be worked on at some point */
.category {
	margin-bottom: 10px;
}
.tree {
	margin-left: 25px;
}
.treenode {}
.categpath {}
.catname {}
.navigation {
	color: #aea696;
}
.catlists {
	margin-bottom: 10px;
}
/******************************************************************************************/
/*** calendar ***/
/* due to conflicts with js_calendar this has to be called tikicalendar */
.tikicalendar .tikicalendar.box {
	background: #e8e8ff;
	border: 2px solid #aea696;
}
.tikicalendar .tikicalendar table {
	border: none;
	background: transparent;
}
.odd .calday {
	border-bottom: 1px solid #e8e5de;
}
.even .calday {
	border-bottom: 1px solid #fff;
}
.calcontent {}
/* the calendar table that displays the days, dates and data */
table.tikicalendar {
	border-collapse: separate;
}
table.tikicalendar .even,
table.tikicalendar .odd {
	border: 1px solid #aea696;
	padding: 3px;
}
/* days in the month view, that are not part of the selected month */
.notmonth {}
/******************************************************************************************/
/*** directories ***/
.subcategories {
	border-collapse: separate;
	border-spacing: 10px;
}
.subcategories td {
	font-size: 10px;
	color: #999;
	padding: 5px;
	border: 1px solid #aea696;
}
.subcategory {
	font-size: 14px;
}
.subsubcategory {}
.path {
	font-size: 14px;
	color: #999;
	padding: 3px;
	margin: 10px 0;
	border-bottom: 1px solid #aea696;
}
.site {
	border: 1px solid #aea696;
	padding: 10px;
	margin: 15px 0;
}
.site h1, .site h1 a, .site h1 a:hover {
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}
.site h1 a			{	color: #a00;	}
.site h1 a:hover	{	color: #f80;	}
.site .category {
	color: #999;
	margin: 0;
	border: 0;
}
.related {}
/******************************************************************************************/
/*** articles ***/
.articles {
	text-align: justify;
}
.articlerating {}
/******************************************************************************************/
/*** image galleries ***/
.thumbnails {
	border: 1px solid #aea696;
}
.showimage {
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #aea696;
}
.caption {
	color: #999;
}
/******************************************************************************************/
/*** bitforums ***/
.tikiforum .data {
	background: transparent;
}
.tikiforum .footer {
	background: transparent;
}
/* threads that are ... */
.unread {
	font-weight: bold;
}
.read {}
/******************************************************************************************/
/*** images and icons ***/
/* icons */
.icon,
.icon:hover {
	border: 0;
}
/* floating help and/or admin icon at the top of admin pages */
.floaticon {
	float: right;
}
/******************************************************************************************/
/*** data tables ***/
.other {}
/* submission panels */
.panel {
	background: #e8e8ff;
	border: 2px solid #aea696;
}
table.panel td {
	border-bottom: 1px solid #fff;
}
/* removing lines from tables within tables */
table.panel table tds {
	border-bottom: 0;
}
/* submission buttons in panels */
.panelsubmitrow {
	background: #d8d8ff;
	text-align: center;
}
/* any table displaying data */
.data {
	background: #e8ffe8;
	border: 1px solid #aea696;
}
.data * td {
	vertical-align: top;
	padding: 2px;
}
/* alternating odd and even rows in tables */
.odd {
	background: #fff;
}
.even {
	background: #e8e5de;
}
/* when no data is found - either a <tr> or a <div> */
.norecords {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: center;
	color: #a00;
}
.norecords,
.norecords td {
	text-decoration: blink;
}
/* find bar found on pages with listings */
.find {
	border: 1px solid #aea696;
	margin: 2px 0;
}
.find td {
	color: #aea696;
	background: #ffe8d0;
}
/******************************************************************************************/
/*** navigation bars and tabs ***/
.navbar {
	margin: 5px 0;
}
.navbar a {
	color: #6c6454;
	background: #e8e5de;
	border: 1px solid #aea696;
	padding: 0px 3px;
	margin: 1px;
}
.navbar a:hover {
	color: #fff;
	background: #aea696;
	border: 1px solid #6c6454;
}
a.selected {
	color: #fff;
	background: #aea696;
	border: 1px solid #6c6454;
}
/* pagination at the bottom of pages with listings */
.pagination {
	margin: 10px 0;
}
.storage div {
	margin: 5px;
	padding: 5px;
	background: #fff;
	text-align: center;
	border: 1px solid #aea696;
}

/* class="navbar help" */
.navbar.help		{	margin: 15px 0	}
/* class="navbar comment" */
.comment	{	margin: 5px 0	}
/******************************************************************************************/
/*** bottom bar ***/
.babelfish {
	text-align: center;
}
/******************************************************************************************/
/*** miscellaneous ***/
.cached {
	font: 10px Verdana, Arial;
}
/* 'link' to user who created/modified a particular page (or 'span' for user with non-public settings) */
.user {}
/******************************************************************************************/
/*** settings that have to be at the end ***/
.highlight,
.highlight a {
	font-weight: bold;
	color: red;
}
.prio1	{ border-left: 2px solid #fee; }
.prio2	{ border-left: 2px solid #fdd; }
.prio3	{ border-left: 2px solid #fcc; }
.prio4	{ border-left: 2px solid #fbb; }
.prio5	{ border-left: 2px solid #faa; }
.prio6	{ border-left: 2px solid #f99; }
.prio7	{ border-left: 2px solid #f88; }
.prio8	{ border-left: 2px solid #f77; }
.prio9	{ border-left: 2px solid #f66; }

/* make the menu blocks on 'My Page' different colours */
.my .adminmenu 			{ background: #fcc; }
.my .blogsmenu 			{ background: #e8e8ff; }
.my .stylistmenu 		{ background: #ffd8b0; }
.my .globalmenu 		{ background: #ffffff; }
.my .wikimenu 			{ background: #ffffd0; }
.my .usersmenu 			{ background: #ffffc0; } /* 'my' menu  */
/* menu lists only available in the administration screen */

				/* tabstyle */
.tabsystem .tabcontainer .tab,.tabsystem .tabcontainer .tab-hover,.tabsystem .tabcontainer .tab-active {
	top:3px;
	font:12px normal verdana,arial,sans-serif;
	margin:0 3px;
	padding:3px 5px 1px 5px;
	border:1px solid #ccc;
	border-bottom:0;
}
.tabsystem .tabcontainer .tab-hover {
	padding-top:2px;
	border-top:2px solid #f90;
}
.tabsystem .tabcontainer .tab-active {
	top:1px;
	padding:2px 8px 4px 8px;
	margin:0 0px;
	border-top:2px solid #f90;
	background:#fff;
	color:#000;
}
.tabsystem .tabpage {
	border:1px solid #ccc;
	padding:1.5em;
}
